{% block sidebar %}
    <style>
.card{
box-shadow: 0 16px 48px #E3E7EB;
}

    </style>
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right">
        <div class="card my-4 sticky-md-top">
            <h5 class="card-header ">About Me</h5>
            <div class="card-body">
                <p class="card-text">
                    This blog was built with django. I'm really exploring web dev and this is my journey into this field.
                </p>
                <a href="github.com/tijesu24" class="btn btn-primary">View more projects</a>
            </div>
        </div>
    </div>
{% endblock sidebar %}
